<template>
  <div id="app" class="w-full h-screen flex flex-col items-center justify-center" style="background-color: #000000;">
    <h1 class="text-white text-5xl font-bold mb-2">Draw and Drink!</h1>
    <p class="text-gray-400 mb-12">WARNING: This game is pretty fu*kin fun</p>
    <p class="text-sm text-teal-400 mb-8">Click the card to change it.</p>

    <div v-if="step < deck.length" :key="step" id="f1_container">
      <div id="f1_card" class="shadow-md" style="width: 320px; height: 440px;">
        <div class="face bg-white p-2 rounded-lg">
          <div class="py-2 h-full flex flex-col items-center rounded-lg" style="background-color: #000000;">
            <img src="./assets/2.png" class="h-50"/>
          </div>
        </div>
        <button type="button" 
                name="button" 
                @click="step += 1" 
                class="back face w-full h-full focus:outline-none bg-white absolute inset-0 z-40 flex flex-col rounded-lg">
                <h1 class="p-6 text-center text-2xl font-semibold">
                <div class="font-bold mb-2">{{ deck[step].name }}</div> <!-- Wrapped in a <div> -->
                <div class="text-xl">{{ deck[step].question }}</div> <!-- Wrapped in a <div> and applied text-sm class -->
                </h1>
                <p class="font-semibold mt-auto">#Theresnoescape</p>
        </button>
      </div>
    </div>
    <p class="text-xs text-yellow-400 mt-8">Drink responsibly</p>

    <div v-if="step === deck.length" class="flex flex-col items-center justify-center" style="width: 320px; height: 440px;">
  <h1 class="text-lg font-semibold text-white">You've finished the game!</h1>
  <img src="./assets/drunk.gif" class="my-6" />
  <button @click="shuffle(), step = 1" class="w-56 p-4 bg-yellow-300 hover:bg-yellow-400 font-semibold focus:outline-none">Play Again</button> 
    
 
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      deck: [
        { category: 'curse', name: 'Talking Sh*t', question: 'ทุกครั้งที่ผู้เล่นพูดในประโยคนั้นต้องมีคำหยาบด้วย' },
        { category: 'curse', name: 'Manner Maketh Men', question: 'ทุกครั้งที่ผู้เล่นพูดจะต้องมีแต่คำที่สุภาพ' },
        { category: 'curse', name: 'Chins Up', question: 'การ์ดใบนี้สามารถเล่นเมื่อไหร่ในเกมส์ก็ได้ โดยผู้ที่ได้การ์ดใบนี้จะจับคางตัวเองแล้วผู้เล่นที่เหลือทั้งหมดต้องจับคางตัวเองตามให้ทัน ผู้ที่จับเป็นคนสุดท้ายดื่ม 1 แก้ว' },
        { category: 'curse', name: 'Shhhh...', question: 'ใครก็ตามที่คุยกับผู้ที่ได้การ์ดใบนี้ดื่ม 1 แก้ว หากผู้เล่นคนอื่นจั่วได้การ์ดใบนี้อีก คำสาปจะตกไปที่คนนั้นแทน' },
        { category: 'curse', name: 'At your service', question: 'ชงน้ำให้เพื่อนดื่ม: เมื่อผู้เล่นได้การ์ดนี้ ต้องชงเครื่องดื่มให้กับผู้เล่นคนอื่นๆ' },
        { category: 'curse', name: 'Kon Thai Jaaa', question: 'ทุกคนในวงต้องพูดคำว่า จ๊ะลงท้ายทุกประโยค' },
        // Drink category
{ category: 'drink', name: 'Construction Complete', question: 'ผู้เล่นที่จบวิศวกรรมทุกคนดื่มหมดแก้ว' },
        { category: 'drink', name: 'SWOT Aalyst', question: 'ผู้เล่นที่จบมาร์เก็ตติ้งทุกคนดื่มหมด' },
        { category: 'drink', name: 'Bank Reconciliation', question: 'ผู้เล่นที่จบบัญชีทุกคนดื่มหมด' },
        { category: 'drink', name: 'Cultural Dimension', question: 'ผู้เล่นที่จบมนุษย์ทุกคนดื่มหมด' },
        { category: 'drink', name: 'Hello World!', question: 'ผู้เล่นที่เรียนจบสายคอมพิวเตอร์ดื่มหมดแก้ว' },
        { category: 'drink', name: 'ROI', question: 'สามารถสั่งให้ใครดื่มก็ได้' },
        { category: 'drink', name: 'Customer Engagement', question: 'เลือกผู้เล่นหนึ่งคน แล้วคุณจะต้องชงเครื่องดื่มพร้อมประเคนให้ดื่มหมดแก้ว' },
        { category: 'drink', name: 'Distribution Channel', question: 'ผู้เล่นทุกคนดื่ม' },
        { category: 'drink', name: 'Dress Code', question: 'ผู้เล่นที่ไม่ได้ใส่ ชุดพนักงานออฟฟิศ ดื่ม หมดแก้ว' },
        { category: 'drink', name: 'Probation', question: 'เลือกพนักงานคนที่เข้าใหม่ล่าสุด ผู้เล่นที่ถูกเลือกจะต้องทำตามคำสั่งหากพลาดดื่ม 1 แก้ว เมื่อดื่มแล้วการ์ดนี้จะถือว่าใช้งานไปแล้ว หากเข้าพร้อมกันหลายคนต้องดื่มทุกคน' },
        { category: 'drink', name: 'Employee of the year', question: 'ผู้เล่นทุกคนดื่มยกเว้นคนที่จั่วการ์ดใบนี้' },
        { category: 'drink', name: 'On your left!', question: 'ผู้เล่นที่อยู่ทางซ้ายดื่มหมดแก้ว' },
        { category: 'drink', name: 'On your right!', question: 'ผู้เล่นที่อยู่ทางขวาดื่มหม' },
        // Buddy category
        { category: 'buddy', name: 'Work Buddy', question: 'เลือกบัดดี้ 1 คน แล้วเมื่อไหร่ก็ตามที่คุณได้ดื่มหรือบัดดี้ดื่ม คนที่ถูกจับบัดดี้ทุกคนจะต้องได้ดื่มด้วย' },

        // Games category
        { category: 'games', name: 'Not 7!', question: 'เล่นเกมส์ 7 รอบวง ให้ผู้ที่ได้การ์ดใบนี้เป็นคนเริ่มนับ 1 คนถัดไปนับ 2 3 4 ไปเรื่อยห้ามนับเลข 7 หรือหารด้วย 7 ลงตัว ใครพลาดดื่มหมดแก้ว' },
        { category: 'games', name: 'Job Descrtiption', question: 'ให้ผู้เล่นสุ่มตัวอักษรภาษาอังกฤษ 1 ตัว แล้วให้พูดคำที่ขึ้นต้นด้วยตัวอักษรนั้น พูดคนละ 1 คำไปเรื่อยๆ ใครพลาดดื่มหมดแก้ว' },
        { category: 'games', name: 'Lay Off', question: 'เกมส์โอน้อยออก "Lay Off ออก " ใครเหลือคนสุดท้ายดื่มหมดแก้ว' },
        { category: 'games', name: '1st Alphabet', question: 'เลือกอักษรภาษาอังกฤษมา 1 ตัว แล้วต้องต่อคำภาษาอังกฤษโดยมีตัวอักษรที่เลือกขึ้นต้น ผู้ที่ต่อไม่ได้หรือช้า ดื่ม 1 แก้ว' },
        { category: 'games', name: 'Category', question: 'เลือกหมวดหมู่อะไรก็ได้มาหนึ่งหมวดแล้วให้พูดชื่อแต่อย่างในหมวดนั้น ใครพูดไม่ได้ดื่ม 1 แก้ว' },
        { category: 'games', name: 'Sing with Me', question: 'เริ่มต้นร้องเพลงอะไรก็ได้ ผู้เล่นคนถัดไปต้องร้องเพลงโดยใช้คำลงท้ายของท่อนก่อนหน้า ผู้ที่ต่อเพลงไม่ได้หรือช้า ดื่ม 1 แก้ว' },
        { category: 'games', name: 'Make Sentences', question: 'ผู้เล่นจะต้องเลือกประโยคต่อไปนี้ "ฉันรักงานของฉัน", "เงินโบนัสปีนี้","พรุ่งนี้วันจันทร์แล้ว" แล้วต่อประโยคตามความคิดของตัวเองไปเรื่อยๆจนกว่าจะมีคนต่อไม่ได้หรือช้า ดื่ม 1 แก้ว' },

        // Equipment category
        { category: 'equipment', name: 'Toilet Pass', question: 'ผู้เล่นที่จั่วได้การ์ดไปใบนี้ สามารถไปเข้าห้องน้ำได้' },
        { category: 'equipment', name: 'Skip', question: 'ข้ามการดื่มได้ 1 แก้ว' },


        
      ],
      step: 0,
      category: 'curse'
    };
  },
  mounted() {
    this.shuffle(); // Call the shuffle function when the component is mounted
  },
  methods: {
    shuffle() {
      for (let i = this.deck.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [this.deck[i], this.deck[j]] = [this.deck[j], this.deck[i]];
      }
    }
  },
  components: {}
};
</script>

<style media="screen">
  #app {
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Ensure the container fills the entire viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #f1_container {
    perspective: 1000px; /* Added 'px' unit */
  }

  #f1_card {
    transform-style: preserve-3d; /* Corrected spelling */
    transition: all 1s linear;
  }

  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
  }

  .face {
    backface-visibility: hidden;
  }

  .face.back {
    transform: rotateY(180deg);
  }
</style>


